<footer>
    <section class="main-footer d-f-r jc-c">
        <span class="footer-sec logo-sec">
            <a href="/"><img class="footer-logo" src="/imgs/logos/incrypto_original.png"></a>
            <h5 class="footer-heading first-header">Team Incrypto</h5>
            <div class="footer-content">contact@incrypto.com<br>+91-7778091174</div>
        </span>
        <span class="footer-sec">
            <h5 class="footer-heading">Company</h5>
            <ul>
                <a href="">
                    <li class="footer-content">About Us</li>
                </a>
                <a href="/terms">
                    <li class="footer-content">Terms of Use</li>
                </a>
                <a href="/contact/join-team">
                    <li class="footer-content">Join the team</li>
                </a>
            </ul>
        </span>
        <span class="footer-sec">
            <h5 class="footer-heading">Feedback</h5>
            <ul>
                <a href="/contact">
                    <li class="footer-content">Contact Us</li>
                </a>
                <a href="/contact/bug">
                    <li class="footer-content">Report Bug</li>
                </a>
                <a href="/contact/feature">
                    <li class="footer-content">Feature Request</li>
                </a>
            </ul>
        </span>
    </section>
    <section class="copyright-sec">
        2021 &#169; All rights reserved by Team Incrypto
    </section>
</footer>
