<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Krushnal Patel">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incrypto - Homepage</title>
    <link rel="stylesheet" href="/css/authenticate.css">
    <script src="/js/resetPassword.js"></script>
</head>

<body>
    <main class="d-f-c ai-c jc-c">
        <h1><a href="/"><img src="/imgs/logos/incrypto_white.png" alt="incrypto"></a></h1>
        <div>
            <% if(req_status=='get_email' ) {%>
                <div class="auth-pannel">
                    <h2 class="shrunk-h2">Reset Password</h2>
                    <form id="reset-password" class="auth-form" action="/auth/forgot" method="POST">
                        <div class="form-group">
                            <label for="email">Email<span class="req">*</span></label>
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email"
                                required>
                            <div id="err-msg" class="err-popup">Email dosen't exist. Do you want to create <a
                                    href="/auth/signup">new user</a>?</div>
                        </div>
                        <input type="button" onclick="checkIfEmailExists('<%- emails %>')" class="submit"
                            value="Reset Password">
                    </form>
                </div>
                <% } %>
        </div>
        <div>
            <% if(req_status=='email_sent' ) {%>
                <div class="auth-pannel">
                    <h2 class="shrunk-h2">Email sent</h2>
                    <p>Please check your email and click on the reset link.</p>
                </div>
                <% } %>
        </div>
        <div>
            <% if(req_status=='reset_password' ) {%>
                <div class="auth-pannel">
                    <h2 class="shrunk-h2">Reset Password</h2>
                    <form class="auth-form" id="resetPassword" action="/auth/update-credentials/<%= user.username %>"
                        method="POST">
                        <div class="form-group">
                            <label for="new_password">New Password<span class="req">*</span></label>
                            <input class="form-control" id="new_password" name="new_password" placeholder="New Password"
                                type="password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm Password<span class="req">*</span></label>
                            <input class="form-control" id="confirm_password" name="confirm_password"
                                placeholder="Confirm Password" type="password" required>
                            <div id="pass-not-matching" class="err-popup">Passwords don't match.</div>
                        </div>
                        <button type="button" onclick="checkPasswords()" class="submit">Reset Password</button>
                    </form>
                </div>
                <% } %>
        </div>
    </main>
</body>

</html>
